// sass --watch assets/sass/style.scss assets/css/style.css --style compressed
@import 'partials/colors';

@font-face {
    font-family: 'museoSans700';
    src: url('../../vendor/fonts/museo_sans_cyrl_700.ttf');
}

@font-face {
    font-family: 'museoSans500';
    src: url('../../vendor/fonts/museo_sans_cyrl_500.ttf');
}

@font-face {
    font-family: 'museoSans300';
    src: url('../../vendor/fonts/museo_sans_cyrl_300.ttf');
}

body {
    overflow: hidden;
    height: 100%;
    background: #EEEEEF;
}

a {
    -webkit-user-select: none;
    -moz-user-select: none;

    &:focus {
        outline: none;
    }
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.left {
    display: inline-block;
}

.bold {
    font-family: 'museoSans500', sans-serif;
    font-weight: 500;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.page {
    background: #fff;
    width: 100vw;
    height: 100vh;
}


.logo {
    width: 120px;
    padding-top: 15px;
    margin-left: 20px;
}

.slider {
    background-image: url('../images/Yoga-to-Stop-Snoring.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 52vh;
}

.main {
    text-align: center;
    width: 300px;
    margin: 0 auto;

    h3 {
        font-size: 23px;
        font-family: museoSans500;
        color: #000c;
    }

    p {
        font-size: 15px;
        font-family: museoSans300;
        color: $gray;
        margin-top: 15px;
        line-height: 20px;
    }

    .form {
        width: 300px;
        margin: 30px auto 0 auto;

        .register {
            font-family: museoSans300;
            color: #fff;
            background: $salmon;
            width: 281px;
            height: 47px;
            border-radius: 8px;
            font-size: 17px;
            margin: 0 auto;
            padding-top: 3px;
        }

        .login {
            font-family: museoSans300;
            color: $gray;
            background: $light-gray;
            width: 281px;
            height: 47px;
            border-radius: 8px;
            font-size: 17px;
            margin: 26px auto 0 auto;
            padding-top: 3px;
        }
    }



}

.contactUs {
    display: inline-block;

    margin-top: 18px;
    margin-bottom: 18px;
    
    width: 100%;
    text-align: center;
    font-family: museoSans300;
    
    font-size: 13px;
    a{
        color: unset;
    }
}







@media only screen and (max-width: 767px) {}