
$gradient: linear-gradient(to right,#F5A84B, #F85C97);
$salmon: #F68170;
$brown: #6b4a4b;
$gray: #74777A;
$dark-gray: #56585a;
$light-gray:#EFEFF1;
$extra-light-gray:#F7F7F7;
$soft-gray: #8C8C8D;
$placeholder:#808080;


